body {
	font-family: 'Poiret One', cursive;
}
::-webkit-input-placeholder {
   color: #3264ff;
}
#headerRight {
	float: right;
	font-size: 25px;
	margin: 15px 10px 0px 0px;
	padding: 0px 15px 0px 15px;
	color: #25aa6d;
	border: solid 1px;
	border-radius: 30px;
	display: block;
}
#headerLeft {
	clear: both;
    display: inline-block;
    font-size: 30px;
    text-align: left;
    margin: 10px 0px 0px 10px;
    padding: 0px 5px 0px 5px;
    color: #8f8f8f;
    border: solid 1px;
    /*color: #3264ff;*/
}
#rtf {
	min-height: 50vw;
	border: none;
}
#editor_cp {
	margin-left: 9%;
}
.editor_cp_button {
	border: 1px solid #8f8f8f;
	padding: 2px 2px 2px 5px;
}